.list {
    --margin: 24px;
    --offset: calc(var(--margin) * 2);

    display: inline-flex;
    padding: 15px;
    width: 480px;

    @media screen and (max-width: 1440px) {
        width: 400px;
    }

    @media screen and (max-width: 1024px) {
        width: 384px;
    }

    @media screen and (max-width: 768px) {
        width: 480px;
    }

    @media screen and (max-width: 500px) {
        width: 365px;
    }

    // &.horizontal {
    //     // background-color: red;
    // }

    // &.vertical {
    //     // background-color: blue;
    // }

    // &.flow {
    //     // background-color: yellow;
    // }

    .card {
        display: inline-block;
        background-color: white;
        border-radius: 28px;
        padding: 30px;
        width: 100%;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 2rem;

            &:hover {
                .toolbar {
                    display: flex;
                    align-items: center;
                }
            }

            .toolbar {
                display: none;
                top: 0;
                left: calc(var(--offset));

                button {
                    width: 60px;
                    flex: 1;
                    color: gray;
                    background: none;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .tasks {
            list-style-type: none;

            .task {
                position: relative;
                padding: 6px 0;
                display: flex;
                justify-content: space-between;

                &:not(:last-child) {
                    border-bottom: solid 1px lightgray;
                }

                &:hover {
                    .delete {
                        opacity: 1;
                    }
                }

                .content {
                    flex: 1;
                    user-select: none;
                    padding: 6px 6px;

                    .edit {
                        font-size: inherit;
                        font-family: inherit;
                        padding: 6px 6px;
                        border: none;
                        background-color: #eaeaea;
                        border-radius: 10px;
                    }

                    .view {
                        display: inline-block;
                        padding: 6px 6px;
                    }
                }

                .done {
                    margin-right: calc(var(--margin) / 2);
                }

                .delete {
                    background: none;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: var(--margin);
                    opacity: 0;

                    svg {
                        fill: red;
                    }
                }

                .order {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: fit-content;
                    position: absolute;
                    top: 0;
                    left: -30px;

                    .up,
                    .down {
                        background: none;
                        padding: 0px;

                        &:hover {
                            background-color: #eaeaea;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }

        .toolbar {
            display: flex;
            gap: 12px;

            .field {
                font-size: inherit;
                font-family: inherit;
                padding: 12px 24px;
                border: none;
                background-color: #eaeaea;
                border-radius: 10px;
                width: 100%;
            }

            .create {
                background-color: mediumseagreen;
                color: white;
            }
        }
    }
}
