.tasks {
    list-style-type: none;
    margin-top: 1rem;

    .task {
        --margin: 24px;

        padding: 6px 0;
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            border-bottom: solid 1px lightgray;
        }

        &:hover {
            .delete {
                opacity: 1;
            }
        }

        .content {
            flex: 1;
            user-select: none;
            padding: 6px 6px;

            .edit {
                font-size: inherit;
                font-family: inherit;
                padding: 6px 6px;
                border: none;
                background-color: #eaeaea;
                border-radius: 10px;
            }

            .view {
                display: inline-block;
                padding: 6px 6px;
            }
        }

        .done {
            margin-right: calc(var(--margin) / 2);
        }

        .delete {
            background: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: var(--margin);
            opacity: 0;
            // transition: opacity 150ms ease-in-out;

            svg {
                fill: red;
            }
        }
    }
}
