.page {
    font-family: var(--font-geist-sans);
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (max-width: 1440px) {
        max-width: 1200px;
    }

    @media screen and (max-width: 1200px) {
        max-width: 1024px;
    }

    @media screen and (max-width: 1024px) {
        max-width: 768px;
    }

    @media screen and (max-width: 768px) {
        max-width: 480px;
    }

    @media screen and (max-width: 500px) {
        max-width: 375px;
    }

    .header {
        margin-top: 60px;
        margin-bottom: 30px;
        padding: 0 15px;

        @media screen and (max-width: 500px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .toolbar {
            display: flex;
            gap: 12px;

            .field {
                font-size: inherit;
                font-family: inherit;
                padding: 12px 24px;
                border: none;
                background-color: #eaeaea;
                border-radius: 10px;
                width: 100%;
            }

            .create {
                background-color: mediumseagreen;
                color: white;
            }
        }
    }

    .footer {
        text-align: center;
        padding: 30px;
    }
}
