.page {
    font-family: var(--font-geist-sans);

    width: 100vw;
    margin: 0 auto;
    padding: 60px;
}

.toolbar {
    display: flex;
    gap: 12px;
}

.field {
    font-size: inherit;
    font-family: inherit;
    padding: 12px 24px;
    border: none;
    background-color: #eaeaea;
    border-radius: 10px;
}

.create {
    background-color: mediumseagreen;
    color: white;
}

/* @media (prefers-color-scheme: dark) {
    .page {

    }
} */